.wrapper {
  display: flex;
}
.side-bar{
width:300px;
background-color: #253141;
height: 100vh;
width: 300px;
padding: 0 20;
}

.chat{
width: calc(100vw - 300px);
background-color: #ffffff;
height: 100px;
}

.chat-header{
  height: 100px;
  padding: 0 40px;
}

.side-bar-header{
height: 100px;
padding: 0 20px;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}

.messages{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  padding: 46px 40px 0;
}

.form{
  background-color: #dddddd;
  height: 90px;
  width: calc(100vw - 300px);
  padding: 20px 40px;
}